@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* 
        0.25rem 4px;
        0.5rem 8px;
        0.75rem 12px;
fs-1	2.5rem	40px
fs-2	2rem	32px
fs-3	1.75rem	28px
fs-4	1.5rem	24px
fs-5	1.25rem	20px
fs-6	1rem	16px 

display-1	5rem	80px	
display-2	4.5rem	72px	
display-3	4rem	64px	
display-4	3.5rem	56px	
display-5	3rem	48px	
display-6	2.5rem	40px

p-1	0.25rem	4px
p-2	0.5rem	8px
p-3	1rem	16px
p-4	1.5rem	24px
p-5	3rem 48px

rounded-0	0	0px
rounded-1	0.25rem	4px
rounded-2	0.375rem	4.8px
rounded-3	0.5rem	8px
rounded-4	1rem	16px
rounded-5	2rem	32px
rounded (default)	0.25rem	4px

Extra small
<576px	Small
≥576px sm	Medium
≥768px md	Large
≥992px lg	X-Large
≥1200px xl	XX-Large
≥1400px
*/
:root {
    --background: #fff;
    --foreground: #686868;
    --primary: #F7941E;
    --primary-foreground: #F7941E;
    --secondary: #1CBBB4;
    --secondary-foreground: #1CBBB4;
    --destructive: #ED145B;
    --destructive-foreground: #ED145B;
    --green: #73BE48;
    --green-foreground: #73BE48;
    --warm: #FFF0E5;
    --cream-foreground: #fff;
    --muted: #000;
    --muted-foreground: #000;
}

html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-family: Nunito, sans-serif;
    color: var(--muted-foreground);
    line-height: 160%;
    background-color: var(--background);

}

/* reset*/
a {
    text-decoration: none;
    color: inherit;
}

img, video {
    max-width: 100%;
    height: auto;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.py-2_5 {
    padding-top: .825rem !important;
    padding-bottom: .825rem !important;
}

p {
    color: var(--foreground);
}

.title p {
    font-family: Bubblegum Sans, sans-serif;
    font-size: 19px;
}

.title h2 {
    font-size: 2rem;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Jost;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.absolute-y-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-x-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.object-cover {
    object-fit: cover;
}

.font-nunito {
    font-family: Nunito, sans-serif;
}

.font-jost {
    font-family: Jost, sans-serif;
}

.shadow {
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05) !important;
}

.nowrap {
    white-space: nowrap;
}

.header-pinned {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    transition: all .5s;
}

/***********.bg-[name] *************/
.bg-background {
    background-color: var(--background) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-primary-foreground {
    background-color: var(--primary-foreground) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-secondary-foreground {
    background-color: var(--secondary-foreground) !important;
}

.bg-destructive {
    background-color: var(--destructive) !important;
}

.bg-destructive-foreground {
    background-color: var(--destructive-foreground) !important;
}

.bg-green {
    background-color: var(--green) !important;
}

.bg-green-foreground {
    background-color: var(--green-foreground) !important;
}

.bg-warm {
    background-color: var(--warm) !important;
}

.bg-cream-foreground {
    background-color: var(--cream-foreground) !important;
}

.bg-muted {
    background-color: var(--muted) !important;
}

.bg-muted-foreground {
    background-color: var(--muted-foreground) !important;
}

/***********.text-[name] *************/
.text-primary {
    color: var(--primary) !important;
}

.text-primary-foreground {
    color: var(--primary-foreground) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-secondary-foreground {
    color: var(--secondary-foreground) !important;
}

.text-foreground {
    color: var(--foreground) !important;
}

.text-destructive {
    color: var(--destructive) !important;
}

.text-destructive-foreground {
    color: var(--destructive-foreground) !important;
}

.text-green {
    color: var(--green) !important;
}

.text-green-foreground {
    color: var(--green-foreground) !important;
}

.text-warm {
    color: var(--warm) !important;
}

.text-cream-foreground {
    color: var(--cream-foreground) !important;
}

.text-muted {
    color: var(--muted) !important;
}

.text-muted-foreground {
    color: var(--muted-foreground) !important;
}

/************* .btn-animate-[name] *************** */

.btn-animate {
    position: relative;
    /* 0 : cho phep hien thi noi dung ben tren */
    z-index: 0;
}

.btn-animate::after {
    content: "";
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    position: absolute;
    transition: all .3s;
    /* -1 : cho phep hien thi noi dung ben tren */
    z-index: -1;

}

.btn-animate-green:hover {
    border: 1px solid var(--secondary);
}

.btn-animate-green:hover::after {
    width: 100%;
    border-radius: .25rem;
    /* vì parent có border */
    background-color: var(--secondary);
}

.btn-animate-secondary:hover {
    border: 1px solid var(--green);
}

.btn-animate-secondary:hover::after {
    width: 100%;
    border-radius: .25rem;
    /* vì parent có border */
    background-color: var(--green);
}

.btn-outline-primary {
    border: 1px solid var(--primary);
}

.btn-outline-primary:hover,
.btn-outline-secondary:hover {
    color: #fff !important;
    background: transparent !important;
}

.btn-primary:hover {
    transition: all .5s;
    background: transparent !important;
    border: 1px solid var(--primary) !important;
    color: var(--primary) !important;
}

.btn-destructive:hover {
    transition: all .5s;
    background: transparent !important;
    border: 1px solid var(--destructive) !important;
    color: var(--destructive) !important;
}

/*********** .border-[name]  *********/
.border-primary {
    border: 1px solid var(--primary) !important;
}

.border-secondary {
    border: 1px solid var(--secondary) !important;
}

.border-destructive {
    border: 1px solid var(--destructive) !important;
}

/*********** amim  *********/
@keyframes slideInUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes left-right {
    50% {
        transform: translateX(14px);
    }
}

.animate-left-right {
    animation: left-right 2s linear infinite;
}

@keyframes left-right-2 {
    50% {
        transform: translateX(-40px);
    }
}

.animate-left-right-2 {
    animation: left-right-2 4s linear infinite;
    ;
}

@keyframes skw {
    50% {
        transform: skewX(5deg);
    }
}

.animate-skw {
    animation: skw 2s linear infinite;
}

@keyframes up-down {
    50% {
        transform: translateY(-10px);
    }
}

.animate-up-down {
    animation: up-down 2s linear infinite;
}